$yellow: rgb(255, 212, 20);
$red: rgb(255, 67, 67);
$green: rgb(74, 165, 100);
$blue: rgb(20, 145, 255);

$colours:
	"red" rgb(255, 67, 67),
	"blue" rgb(20, 145, 255),
	"green" rgb(74, 165, 100),
	"yellow" rgb(255, 212, 20);

@each $i in $colours{
	.#{nth($i, 1)}-color {
		color: nth($i, 2);
	}
}